/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* Common Styles */
body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}


/*-----------------------
    Celebrate Copa 
 -----------------------*/
 /* Core Containers */
 #copa-section{
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 51, 182);
}
#copa-text{
    margin-left: auto;
    margin-right: 102px;
}

/* Copa title */
#copa-title{
    font-size: 55px;
    color: whitesmoke;
    font-weight: 600;
}
#copa-name{
    color: gold;
}
#america-name{
    color: rgb(19, 19, 194);
}

/* Watch Button */
#watch-button{
    color: rgb(83, 182, 199);
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    background-image: linear-gradient(rgb(26, 22, 247),rgb(4, 0, 255));
    padding: 13px;
    border-radius: 20px 20px 20px 0;
}
.fa-arrow-right{
    margin-left: 8px;
    color: rgb(255, 247, 0);
}

/* Copa Images */
#copa-images{
    display: flex;
    margin-right: 140.99px;
    border: 1px;
}
#copa-ball img{
    width: 80px;
    height: 80px;
    margin-top: 95px;   
    transition: transform 3.5s linear;
}
#copa-ball:hover img{
    transform: rotate(3500deg);
}

#copa-image img{
    width: 556.1px;
    height: 456px;
}

/*-----------------------
    Top players 
 -----------------------*/
/* Core containers */
 #top-players-title{
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(74, 165, 250);
}
 #all-players{
    background-color: rgb(74, 165, 250);
    padding-bottom: 5px;
}
#top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin: 15px;
    margin-left: 180px;
    margin-right: 210px;
}
.player{
    background-color: rgb(132, 196, 255);
    border: 0px solid gray ;
    width: 300px;
    padding: 15px 15px 16px 15px;
    transition: transform 0.2s ease-out;
}
.player:hover{
    transform: scale(1.07);
}

/* Player Images */
#top-players img{
    width: 300px;
    height: 256px;
}
.player-image{
    height: 256px;
}

/* Player info */
.player-info{
    margin: 16px 15px 33px 15px;
}
.player-info h2{
    font-weight: 700;
    font-size: 28px;
}
.player-info p{
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 400;
}
/*-----------------------
    Subscribe Newsletter 
 -----------------------*/

 /* Core Containers */
 #subscribe{
    position: relative;
    text-align: center;
    background-color: rgb(93, 197, 253);
    background-size: cover;
    background-repeat:no-repeat;
    height: 800px;
    padding-bottom: 10px;
 }
 
 /* Background */
 #background-ball{
    width: 80%;
    height: 80%;
    animation: Rotation 8s linear infinite ;
    animation-play-state: running;
 }

/* Background Animation */
 @keyframes Rotation {
     from{
        transform: rotate(0deg)
     }
     to{
        transform: rotate(359deg); 
     }  
 }
 
/* Subscribe-text */
 .sub-text{
    position:absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 .sub-text h1{
     margin-top: 0;
     color: green;
     margin-bottom: 15px;
 }
 .sub-text h2{
     margin-bottom: 0;
     color: yellow;
 }

 /*  -  Interactive  -   */
 
 /* Email */
 #email-button{
    color: rgb(214, 86, 86);
    font-size: 25px;
    border: 1px solid rgb(233, 151, 151);
    box-shadow: 1px 1px 8px rgb(233, 151, 151);
    height: 30px;
    width: 400px;
    padding: 4px;
 }
 ::placeholder{
    color: rgb(242, 164, 164);
    padding: 4px;
 }
 /* Submit */
 #submit-button{
    color: snow;
    width: 70px;
    height: 30px;
    font-size: 18px;
    background-image: linear-gradient(red,blue);
 }

 /* checkbox */
 .sub-text p{
    display: flex;
    justify-content: center;
    font-size: 10px;
 }
 
/*-----------------------
    Watch Video 
 -----------------------*/
 
 /* Core Containers */
 #watch-video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(82, 82, 82);
    height: 700px;
}

/* Text */
#watch-video h2{
    color: rgb(12, 12, 12);
    font-size: 40px;
}

/* Video */
#watch-video iframe{
    width: 1000px;
    height: 500px;
}

/*-----------------------
    Footer
 -----------------------*/
/* Core Containers
 */
 footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top: 5px solid rgb(38, 38, 38);
}

 /* logo */
footer img{
    margin: 40px 0px 020px 0px;
    width: 423.87px;
    height: 105px;
}

/* icons */
.icons{
    display: flex;
}
.fab{
    color: #969BAB;
    font-size: 18.49px;
    background-color: #0b0d1713;
    margin-right: 14px;
    padding: 6px;
    border-radius: 30px;
}

/* Copyright */
#copyright{
    font-size: 18px;
    margin-top: 2px;
    font-weight: 400;
    text-align: right;
    margin-bottom: 63px;
}
