/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* Common Styles */
body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}


/*-----------------------
    Celebrate Copa 
 -----------------------*/
 
/* Copa title */
#copa-section{
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 51, 182);
}
#copa-text{
    margin-left: auto;
    margin-right: 102px;
}
#copa-title{
    font-size: 55px;
    color: whitesmoke;
    font-weight: 600;
}
#copa-name{
    color: gold;
}
#america-name{
    color: rgb(19, 19, 194);
}
#watch-button{
    color: rgb(83, 182, 199);
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    background-image: linear-gradient(rgb(26, 22, 247),rgb(4, 0, 255));
    padding: 13px;
    border-radius: 20px 20px 20px 0;
}
.fa-arrow-right{
    margin-left: 8px;
    color: rgb(255, 247, 0);
}

/* Copa Images */
#copa-images{
    display: flex;
    margin-right: 140.99px;
    border: 1px;
}
#copa-ball img{
    width: 80px;
    height: 80px;
    margin-top: 95px;   
    transition: transform 3.5s linear;
}
#copa-ball:hover img{
    transform: rotate(3500deg);
}

#copa-image img{
    width: 556.1px;
    height: 456px;
}

/*-----------------------
    Top players 
 -----------------------*/
#top-players-title{
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(74, 165, 250);
}
 #all-players{
    background-color: rgb(74, 165, 250);
}
#top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin: 15px;
    margin-left: 180px;
    margin-right: 210px;
}
.player{
    background-color: rgb(132, 196, 255);
    border: 0px solid gray ;
    width: 300px;
    padding: 15px 15px 16px 15px;
    transition: transform 0.2s ease-out;
}
.player:hover{
    transform: scale(1.07);
}

/* Player Images */
#top-players img{
    width: 300px;
    height: 256px;
}
.player-image{
    height: 256px;
}

/* Player info */
.player-info{
    margin: 16px 15px 33px 15px;
}
.player-info h2{
    font-weight: 700;
    font-size: 28px;
}
.player-info p{
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 400;
}


